# -*- coding: utf-8 -*-

# Ignore Mac system files
.DS_Store

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment directories
venv/

# Ignore log files
*.log

# Ignore Editor directories
.vscode/
.vs/
.idea/

# Ignore Resource directories
Resource/

# Ignore LIVE directories
live/
